/* 

.labs-logo {
    width: 160px;
}

#labelDownload {
    color:red;
    font-size: 80%;
    margin-left: -20px;
}

.btn {
    width: 205px;
}

#productLogo {
    width:100%;
    max-width: 190px;
    box-shadow: 5px 5px 5px gray;
    z-index:0;
} */



